<div class="container" style="background: black;">
    <div class="container">
<ul class="text-center">
{{#each tasks}}

<div class="border-div">
<div class="taskDiv">{{name}} {{car_make}} {{car_model}} {{parking_space}} {{package}}<button id = {{id}} class = "complete">Complete</button></div>
</div>
 {{/each}}

</ul>
</div>
</div>